body{
  background-color: rgb(199, 216, 230);
}
.row{
  width: 100%;
}
.jumbo{
  height: 8%;
  padding: 0px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: black;
  background-color:  rgb(32, 85, 131);
}
.jumbo span{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  height: 90%;
}
.mainhead{
 margin:0px;
  font-size: 2rem;
  color: black;
  font-family: 'Piedra', cursive;
}
.dropButton{
position: relative;
top:10%;
right: -80%;
margin-top: 0.5rem;
}
.row1{
  width: 98%;

  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.meter{
  width: 32%;
  display: flex;
}
.c1{

 width: 49%;
 height: auto;
  border-radius: 5%;
  box-sizing: border-box;
box-shadow: 0px 0px 3px 3px rgba(14, 65, 161, 0.5);
}
.head1,.head2,.head3,.head6{
display: block;
text-align: center;
font-size: 1.2rem;
  font-family: 'Bree Serif', serif;
}
#donutChart1{
  width: 100%;
 transform: scale(1.35,1.35);
margin-top: 10px;
}
.val
{
display: block;
text-align: center;
font-size: 1.3rem;
margin-top: 1rem;
}
.c1 .card-body,.c2 .card-body,.c3 .card-body{
  padding: 0px;
  padding-top: 0.6rem;
}
.c6 .card-body{
  padding: 0.6rem 15px 0.6rem 10px;
}

.c2{
width: 49%;
height: auto;
  margin-left: 20px;
  border-radius: 5%;
  box-sizing: border-box;
box-shadow: 0px 0px 3px 3px rgba(14, 65, 161, 0.5);
}
#donutChart2{
 width: 100%;
 transform: scale(1.35,1.35);
margin-top: 10px;
}
.c2 hr,.c1 hr{
  margin:5px 10px 15% 10px
}
.c3 hr,.c5 hr,.c4 hr{
  margin: 7px 1rem;
}


.c3{
  width: 35%;
  margin-left: 20px;
  border-radius: 5%;
  box-sizing: border-box;
box-shadow: 0px 0px 3px 3px rgba(14, 65, 161, 0.5);
}


.area1,.area2{
  width: 100%;
  height: 80%;
}

.row2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin: 1rem auto;
  margin-bottom: 10px;
}
.c4{
 width: 49%;
  border-radius: 5%;
  box-sizing: border-box;
box-shadow: 0px 0px 3px 3px rgba(14, 65, 161, 0.5);
}
.c3-head,.c4-head,.c5-head {
  display: flex;
 justify-content: space-around;
}
.time{
  margin-left: 0px;
  margin-right: 0px;
}
.head3{
  margin-left: 22%;
}
.head4{
  margin-left: 22%;
  font-size: 1.3rem;
  font-family: 'Bree Serif', serif;
}
#areaChart2{
  height:190px; max-width: 95%;
}
.c4 .card-body,.c5 .card-body{
  padding: 0.6rem ;
}
.c5{
width: 49%;
  border-radius: 5%;
  box-sizing: border-box;
box-shadow: 0px 0px 3px 3px rgba(14, 65, 161, 0.5);
}
#stackedBarChart{
  height:206px; max-width: 95%;
}
.head5{
  margin-left:22%;
  margin-bottom: 0px;
  font-size: 1.2rem;
  font-family: 'Bree Serif', serif;
}
.c6{
width: 28%;
 
  margin-left: 20px;
  border-radius: 5%;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 3px rgba(14, 65, 161, 0.5);
  overflow-y: scroll;
}

.alert-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.head6,.head7{
  margin: 0px;
}
.c6 hr{
  margin: 0px;
}
.list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  font-size: 0.8rem;
  margin: 0.5rem 0px;
}

.eve{
  margin-left: 60px;
}
.dat{
  margin-left: 10px;
}
.frebt{
  margin-left: 40px;
}
.time{
 z-index: 2;height: 30px;margin-left: 40px;
}

.hicon{
  color: black;
}
.seticon{

  margin-left: 30px;
  color: black;
}
@media only screen and (max-width:830px){

  .mainhead{
      font-size:1.1rem;
      display: none;
  }
  .jumbo{
    padding: 10px;
  }
 a .hicon,a .seticon{
    font-size: 1.6rem;
  }

  .logo{
    height: 80%;
  }
 .row1 .meter{
    width: 100%;
    display: flex;
    justify-content: space-between;
 margin-bottom: 1rem;
  }
  .current{
    margin: 0px;
    transform: scale(0.9,0.9);
  }
  #donutChart2,#donutChart1{
    transform: scale(1,1);
    width: 100%;
    margin: 0px;

  }

 .row1{
   flex-direction: column;
   justify-content: space-evenly;
   align-items: stretch;
   width: 90%;
 }

 .head1,.head2,.card-body h4{
   margin: 0px;
   font-size: 1rem;
margin-right: 0px;
width: 100%;
 }
h3,.val{
   margin: 10px 0px;
   font-size: 0.9rem;
 }
 

 .c3{
   width: 100%;
   margin: 0px;
 }
 .c6{
   width:100%;
   margin: 0px;
   height: 300px;
   margin-top: 1rem;
 }
  
 .dropButton{
  position: relative;
  top:10%;
  right: -38%;
  transform: scale(0.8,0.8);
  margin-top: 0.5rem;
  }
  .row2{
    flex-direction: column;
    width: 90%;
    margin: 0px auto;
  }
  .c4,.c5{
    width: 100%;
    margin: 0px;
  }
  .c5{
    margin: 1rem 0px;
  }
 .c5 .head5{
    font-size: 0.9rem;
 padding: 5px 0px;
 padding-left: 5%;
 text-align: center;
  }
  .head4,.head3{
    font-size: 0.9rem;
    padding: 5px 0px;
    padding-left: 15%;
    text-align: center;
  }

  .temp-cur{
    margin: 0px;
  }
  .card-body .dropdown{
transform: scale(0.8,0.8);

  }
  .temperature{
    margin: 0px;
  }
 .card-body .head6{
    margin-bottom: 0.7rem;
  }

}