* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(199, 216, 230);
}
.unit1 {
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 6px;
}
.frezer-select {
  width: 100%;
  margin-top: 2rem;
  padding-left: 5%;
}
.frezer-select button {
  margin: 0px;
}
.jumbotron {
  height: 80px;
  padding-top: 0px;
  border: black;
  width: 100%;
  background-color: rgb(32, 85, 131);
}
.mainhead {
  font-size: 45px;
  color: black;
  font-family: "Piedra", cursive;
  text-align: center;
}
.alert {
  position: relative;
  z-index: 10;
  margin-top: 1rem;
  width: 80%;

  left: 10%;
}

.wrapper1 .charts {
  padding-top: 10px;
  width: 100%;
}
.meter {
  width: 90%;
}
.c1 {
  margin-top: 10px;
  width: 36%;
  height: auto;
  border-radius: 5%;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 3px rgba(14, 65, 161, 0.5);
}
.c1 .card-body {
  height: auto;
}
.head1 {
  display: block;
  text-align: center;
  font-family: "Bree Serif", serif;
}
#donutChart1 {
  max-width: 100%;
}
.val {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.c2 {
  margin-top: 10px;
  width: 36%;
  height: auto;
  border-radius: 5%;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 3px rgba(14, 65, 161, 0.5);
}
#donutChart2 {
  max-width: 100%;
}
.head2 {
  display: block;
  text-align: center;
  font-family: "Bree Serif", serif;
}
#donutChart2 {
  max-width: 100%;
}

.sec2 {
  width: 90%;
  margin: 5% auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.sep-temp-cur {
  flex: 2;
  margin-right: 4rem;
}
.c3 {
  width: 100%;
  height: auto;
  border-radius: 5%;
  box-sizing: border-box;
  padding: ;
  box-shadow: 0px 0px 3px 3px rgba(14, 65, 161, 0.5);
}
.head3 {
  display: block;
  text-align: center;
  font-family: "Bree Serif", serif;
}

#areaChart1 {
  margin-top: 1rem;
  height: 250px;
  max-width: 95%;
}

.c4 {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  border-radius: 5%;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 3px rgba(14, 65, 161, 0.5);
}
.head4 {
  display: block;
  text-align: center;
  font-family: "Bree Serif", serif;
}
#areaChart2 {
  margin-top: 1rem;
  height: 250px;
  max-width: 95%;
}

.c6 {
  height: 825px;
  width: 36%;
  border-radius: 5%;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 3px rgba(14, 65, 161, 0.5);
  overflow-y: scroll;
}
.head6 {
  display: block;
  text-align: center;
  font-family: "Bree Serif", serif;
}
.row1{
  display: flex;
  margin-bottom: 1.5rem;
  font-size: 0.95rem;
  justify-content: space-between;
  padding-left: 6px;
}
.date{

display: inline-block;
}
.event{

  display: inline-block;
}
.area1,
.area2 {
  height: 250px;
}


.spec-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2rem;
}
.head7 {
  display: inline;
  font-family: "Bree Serif", serif;
}
.head8 {
  display: inline;
  font-family: "Bree Serif", serif;
}
.c5 {
  margin-top: 22px;
  width: 90%;
  height: auto;
  margin: 3rem auto;
  border-radius: 5%;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 3px rgba(14, 65, 161, 0.5);
}

#stackedBarChart {
  height: 225;
  max-width: 95%;
}
.head5 {
  display: block;
  margin: 0px;
  text-align: center;
  font-family: "Bree Serif", serif;
}

.area3 {
  height: 400px;
}
.eve {
  margin-left: 60px;
}
.dat {
  margin-left: 10px;
}
.frebt {
  margin-left: 40px;
}
.time {
  margin-right: 20px;
  z-index: 2;
  height: 30px;
  margin-left: 40px;
}
.logo {
  width: 220px;
  height: 55px;
}
.hicon {
  color: black;
}
.seticon {
  margin-top: 10px;
  margin-left: 30px;
  color: black;
}
.meter {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 2rem 0px;
  margin: 0px auto;
}

body,
html {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .mainhead {
    font-size: 20px;
    font-size: 1rem;
  }
  .row1{
    margin-bottom: 1rem;
  }
  .wrapper,
  .charts {
    width: 100%;
  }
  .frezer-select button,
  .frezer-select .dropdown-item {
    font-size: 0.9rem;
  }
  .meter .card {
    width: 38%;
  }
  .head1 {
    margin-bottom: 0px;
    font-size: 1.3rem;
  }
  .c1 hr {
    margin: 0.7rem auto;
    width: 80%;
  }
  .c1 .card-body {
    padding: 15px 5px 0px 5px;
  }

  .c2 .card-body {
    padding: 15px 5px 0px 5px;
  }
  .head2 {
    margin-bottom: 0px;
    font-size: 1.3rem;
  }
  .c2 hr {
    margin: 0.7rem auto;
    width: 80%;
  }
  .val {
    font-size: 1.3rem;
  }
  .unit1 {
    font-size: 1.1rem;
    padding-left: 3px;
  }

  .sec2 {
    flex-direction: column;
  }
  .sep-temp-cur {
    margin: 0px;
    width: 100%;
  }
  .c3 {
    width: 100%;
    height: auto;
  }
  .c4 {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
  .area2,
  .area1 {
    height: 170px;
  }

  .c6 {
    height: 50vh;
  }
  .time {
    height: 30px;
    margin-left: 20px;
  }

  .c6 {
    width: 100%;
  }

  .head8 {
  }
  .dat {
    margin-left: 60px;
  }
  .eve {
    margin-left: 140px;
  }

  .head4 {
  }
  .c5 {
    margin-top: 1.2rem;
    width: 90%;
  }
  .head5 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }
  .area3 {
    height: 250px;
  }
  .logo {
    width: 120px;
    height: 35px;
    margin-left: 12px;
  }
  .charts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.hicon {
  margin: 0px;
  margin-bottom: 10px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  padding-top: 15px;
}
.jumbotron {
  padding-bottom: 0px;
}
.mainhead {
  text-align: center;
}
.nav span {
  display: static;
  margin-right: 20px;
}
